@font-face {
  src: url("../assets/fonts/ProximaNova-Xbold.otf") format("opentype");
  font-family: "Proxima Nova Extrabold";
  font-weight: normal;
  font-style: normal; }

@font-face {
  src: url("../assets/fonts/ProximaNova-Reg.otf") format("opentype");
  font-family: "Proxima Nova Regular";
  font-weight: normal;
  font-style: normal; }

@font-face {
  src: url("../assets/fonts/ProximaNova-Black.otf") format("opentype");
  font-family: "Proxima Nova Black";
  font-weight: normal;
  font-style: normal; }

@font-face {
  src: url("../assets/fonts/ProximaNova-Bold.otf") format("opentype");
  font-family: "Proxima Nova Bold";
  font-weight: normal;
  font-style: normal; }

@font-face {
  src: url("../assets/fonts/ProximaNova-Light.otf") format("opentype");
  font-family: "Proxima Nova Light";
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #ffffff;
  font-size: 16px; }

main {
  overflow: hidden; }

p {
  line-height: 24px; }

.container {
  padding: 90px 30px;
  margin: 0 auto;
  max-width: 1170px; }
  @media screen and (min-width: 1440px) {
    .container {
      padding: 130px 0px 200px; } }

.services {
  position: relative;
  background-color: #233148; }
  .services::after {
    content: "";
    opacity: 0.02;
    top: -140px;
    right: 0;
    bottom: 120px;
    left: 0;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-image: url("../assets/icons/favicon_primary_white.svg"); }
    @media screen and (min-width: 768px) {
      .services::after {
        width: 50%;
        margin: 0 auto;
        top: -14px;
        bottom: -10px; } }
  .services__heading {
    position: relative;
    font-size: 30px;
    width: 70%;
    padding-top: 40px;
    font-family: "Proxima Nova Black", sans-serif; }
    .services__heading::before {
      content: "";
      position: absolute;
      background-color: #1f65d9;
      width: 25px;
      height: 10px;
      top: 6px;
      transform: skew(-3deg, -20deg); }
    @media screen and (min-width: 1440px) {
      .services__heading {
        width: 31%;
        font-size: 48px; } }
    @media screen and (min-width: 1920px) {
      .services__heading {
        width: 36%;
        font-size: 56px; } }
  .services__icon {
    width: 32px;
    padding: 50px 0 15px; }
    @media screen and (min-width: 1440px) {
      .services__icon {
        width: 48px; } }
    @media screen and (min-width: 1920px) {
      .services__icon {
        width: 60px; } }
  .services__sub-heading {
    font-size: 22px;
    font-family: "Proxima Nova Bold", sans-serif; }
    @media screen and (min-width: 1440px) {
      .services__sub-heading {
        font-size: 32px; } }
    @media screen and (min-width: 1920px) {
      .services__sub-heading {
        font-size: 40px; } }
  .services__description {
    color: #8796ae;
    padding-top: 40px;
    font-family: "Proxima Nova Light", sans-serif; }
    @media screen and (min-width: 1440px) {
      .services__description {
        font-size: 18px;
        line-height: 28px;
        padding-top: 50px; } }
    @media screen and (min-width: 1920px) {
      .services__description {
        font-size: 28px;
        line-height: 38px; } }
  @media screen and (min-width: 768px) {
    .services__block {
      display: flex; }
    .services__article {
      padding-left: 25px; } }
  @media screen and (min-width: 1440px) {
    .services__block {
      padding-top: 70px; }
    .services__article {
      padding-left: 100px; } }

.lightPaper {
  position: relative;
  background-color: #1f65d9; }
  @media screen and (min-width: 1440px) {
    .lightPaper {
      width: 90.7%; } }
  @media screen and (min-width: 1920px) {
    .lightPaper {
      width: 85%; } }
  .lightPaper::after {
    content: "";
    background-image: url("../assets/img/docs.png");
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: cover;
    width: 195px;
    height: 235px; }
    @media screen and (min-width: 1440px) {
      .lightPaper::after {
        left: 135px;
        width: 251px;
        height: 239px; } }
    @media screen and (min-width: 1920px) {
      .lightPaper::after {
        left: 378px;
        width: 263px;
        height: 315px; } }
  .lightPaper__img {
    position: absolute;
    right: -178px;
    bottom: 16px; }
    @media screen and (min-width: 767px) {
      .lightPaper__img {
        bottom: -12px; } }
    @media screen and (min-width: 1440px) {
      .lightPaper__img {
        right: -47px;
        width: 55%;
        top: -80px; } }
  .lightPaper__heading {
    font-family: "Proxima Nova Extrabold", sans-serif;
    width: 59%;
    padding-top: 80px;
    font-size: 22.4px; }
    @media screen and (min-width: 1440px) {
      .lightPaper__heading {
        padding-top: 0;
        font-size: 32px; } }
    @media screen and (min-width: 1920px) {
      .lightPaper__heading {
        font-size: 38px; } }
  .lightPaper__description {
    padding: 45px 0 0;
    width: 59%;
    font-family: "Proxima Nova Regular", sans-serif; }
    @media screen and (min-width: 1440px) {
      .lightPaper__description {
        font-size: 24px;
        line-height: 34px;
        width: 50%;
        padding-left: 45px; } }
    @media screen and (min-width: 1920px) {
      .lightPaper__description {
        font-size: 28px; } }
  .lightPaper__button {
    position: absolute;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 16px;
    bottom: -29px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fccf18;
    padding: 18px 98px;
    outline: none;
    border: 0;
    font-weight: bold;
    color: #233148;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 1; }
    .lightPaper__button:hover {
      transform: translateY(4%);
      background-image: linear-gradient(to right, #fccf18, #d48a1a);
      color: #ffffff; }
    @media screen and (min-width: 1440px) {
      .lightPaper__button {
        padding: 20px 125px;
        font-size: 24px;
        line-height: 34px;
        margin-left: 230px;
        bottom: -40px; } }
    @media screen and (min-width: 1920px) {
      .lightPaper__button {
        padding: 20px 125px;
        font-size: 24px;
        line-height: 34px;
        margin-left: 485px;
        bottom: -40px; } }
  @media screen and (min-width: 1440px) {
    .lightPaper__text {
      display: flex; } }
  @media screen and (min-width: 1440px) {
    .lightPaper__article {
      padding: 70px 67px 100px; } }
  @media screen and (min-width: 1920px) {
    .lightPaper__article {
      padding: 150px 147px 180px; } }

.searchProduct {
  color: #233148; }
  @media screen and (min-width: 1440px) {
    .searchProduct {
      margin-top: 40px;
      padding-bottom: 170px; } }
  .searchProduct__heading {
    position: relative;
    font-size: 30px;
    font-family: "Proxima Nova Black", sans-serif;
    padding-top: 40px;
    width: 50%; }
    .searchProduct__heading::before {
      content: "";
      position: absolute;
      background-color: #1f65d9;
      width: 25px;
      height: 10px;
      top: 6px;
      transform: skew(-3deg, -20deg); }
    @media screen and (min-width: 1440px) {
      .searchProduct__heading {
        font-size: 48px; } }
