* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $colorWhite;
  font-size: 16px;
}

main {
  overflow: hidden;
}

p {
  line-height: 24px;
}

.container {
  padding: 90px 30px;
  @media screen and (min-width: 1440px) {
    padding: 130px 135px 200px;
  }
}

.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
