@font-face {
  src: url("../assets/fonts/ProximaNova-Xbold.otf") format("opentype");
  font-family: "Proxima Nova Extrabold";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/ProximaNova-Reg.otf") format("opentype");
  font-family: "Proxima Nova Regular";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/ProximaNova-Black.otf") format("opentype");
  font-family: "Proxima Nova Black";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/ProximaNova-Bold.otf") format("opentype");
  font-family: "Proxima Nova Bold";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/ProximaNova-Light.otf") format("opentype");
  font-family: "Proxima Nova Light";
  font-weight: normal;
  font-style: normal;
}
