.searchProduct {
  color: $colorDarkBlue;
  @media screen and(min-width:1440px) {
    margin-top: 40px;
    padding-bottom: 170px;
  }

  &__heading {
    position: relative;
    font-size: 30px;
    font-family: $fontFamilyBlack;
    padding-top: 40px;
    width: 50%;
    &::before {
      content: "";
      position: absolute;
      background-color: $colorBlue;
      width: 25px;
      height: 10px;
      top: 6px;
      transform: skew(-3deg, -20deg);
    }
    @media screen and(min-width:1440px) {
      font-size: 48px;
    }
  }
}
