@font-face {
  src: url("../fonts/ProximaNova-Black.otf") format("opentype");
  font-family: "Proxima Nova Black";
  font-weight: normal;
  font-style: normal;
}

.searchProduct {
  color: $colorDarkBlue;
  @media screen and(min-width:1440px) {
    width: 50%;
    margin-top: 40px;
    padding-bottom: 170px;
  }

  &__heading {
    position: relative;
    font-size: 30px;
    font-family: "Proxima Nova Black", sans-serif;
    padding-top: 40px;
    &::before {
      content: "";
      position: absolute;
      background-color: $colorBlue;
      width: 25px;
      height: 10px;
      top: 6px;
      transform: skew(-3deg, -20deg);
    }
    @media screen and(min-width:1440px) {
      font-size: 48px;
    }
  }
}
