$colorWhite: #ffffff;
$colorBlue: #1f65d9;
$colorYellow: #fccf18;
$colorDarkBlue: #233148;
$colorOrange: #d48a1a;
$colorGray: #8796ae;
$fontFamilyExtrabold: "Proxima Nova Extrabold", sans-serif;
$fontFamilyRegular: "Proxima Nova Regular", sans-serif;
$fontFamilyBlack: "Proxima Nova Black", sans-serif;
$fontFamilyBold: "Proxima Nova Bold", sans-serif;
$fontFamilyLight: "Proxima Nova Light", sans-serif;
